{% assign locale = include.locale | default: site.locale %}
<div class="swiss-masthead">
  <div class="swiss-masthead__inner">
    <a href="/" class="swiss-masthead__logo">{{ site.author.name }}</a>
    <nav class="swiss-masthead__links">
      <a href="/#home">Home</a>
      <a href="/#stack">Stack</a>
      <a href="/#work">Work</a>
      <a href="/#blog">Blog</a>
      <a href="/#timeline">Timeline</a>
      <a href="/#about">About</a>
      <a href="/resume/"{% if page.url == '/resume/' %} class="active"{% endif %}>Resume</a>
    </nav>
  </div>
</div>
